<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <title>Obey Me Gacha Simulator | Obey Me Info</title>
    <!--
    <meta
      name="description"
      content="A page of discord servers for the game Obey Me."
    />
    -->
    <meta name="author" content="Obey Me Info" />

    <meta
      property="og:title"
      content="Obey Me Gacha Simulator | Obey Me Info"
    />
    <meta property="og:type" content="website" />
    <!--
    <meta
      property="og:url"
      content="https://www.sitepoint.com/a-basic-html5-template/"
    />
    <meta
      property="og:description"
      content=""
    />
    <meta property="og:image" content="image.png" />
    -->

    <link rel="icon" href="/favicon.ico" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  </head>

  <body>
    <script type="module">
      const { createApp } = Vue;

      createApp({
        data: () => ({
          summonResult: {
            name: "",
            result: [],
            img: "",
            nightmares: [],
          },
          selected: "",
          count: {
            total: 0,
            UR: 0,
            SSR: 0,
            SR: 0,
            R: 0,
          },
          isLoading: false,
        }),
        created() {
          // fetch on init
          this.fetchData();
        },
        methods: {
          countData() {
            console.log(this.summonResult.result);
            this.count.total++;
            this.summonResult.result.forEach((card) => {
              if (card.rarity === "UR+" || card.rarity === "UR") {
                this.count.UR++;
              } else if (card.rarity === "SSR") {
                this.count.SSR++;
              } else if (card.rarity === "SR") {
                this.count.SR++;
              } else {
                this.count.R++;
              }
            });
          },
          async fetchData() {
            const url = "/summon?name=" + encodeURIComponent(this.selected);
            this.summonResult = await (await fetch(url)).json();
          },
          async onSubmit() {
            if (!this.selected) return;

            this.isLoading = true;

            await this.fetchData();
            this.countData();

            this.isLoading = false;
          },
        },
      }).mount("#app");
    </script>
    <div class="container py-5 text-center">
      <h1>Obey Me Gacha Simulator</h1>
      <div id="app">
        <div class="row justify-content-center">
          <div class="col-md-10 my-3">
            <p>
              List of available nightmares and their short names
              <a href="/names">here</a>.
            </p>
            <p>
              Obey Me Info is a discord bot who send Obey Me Official Twitter
              news for free, does gacha simulator from discord, and (coming
              soon!) have a ranking system of most liked Obey Me cards (vote for
              your most liked card from discord, everyone can have one daily
              vote). Invite Obey Me Info to your server
              <a
                href="https://discord.com/api/oauth2/authorize?client_id=1009238674237554738&permissions=2147601408&scope=bot"
                >here</a
              >.
            </p>
          </div>
          <div class="col-md-10">
            <form @submit.prevent="onSubmit">
              <div class="input-group">
                <select class="form-select" v-model="selected">
                  <option value="" disabled selected>Choose a nightmare</option>
                  <option
                    v-for="{ name, short } in summonResult.nightmares"
                    :value="short || name"
                  >
                    {{ name }}
                  </option>
                </select>
                <input
                  class="btn btn-outline-primary"
                  :class="{ disabled: isLoading }"
                  type="submit"
                  value="Summon x10"
                />
              </div>
            </form>
          </div>
          <div class="col-md-10">
            <p>Total summons: {{count.total * 10}}</p>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Count</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">UR/UR+</th>
                  <td>{{count.UR}}</td>
                </tr>
                <tr>
                  <th scope="row">SSR</th>
                  <td>{{count.SSR}}</td>
                </tr>
                <tr>
                  <th scope="row">SR</th>
                  <td>{{count.SR}}</td>
                </tr>
                <tr>
                  <th scope="row">R</th>
                  <td>{{count.R}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-10">
            <h5 :class="{ 'd-none': !isLoading }">Loading...</h5>
            <img class="img-fluid" :src="summonResult.img" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
